root = true
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,html}]
charset = utf-8

[*.{js,ts,jsx,tsx,css,scss,json}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = space

[{package.json}]
indent_style = space
indent_size = 2